version: "3"

services:
  webserver:
    build: ./docker/webserver
    container_name: 'webserver'
    ports:
      - "${HOST_MACHINE_UNSECURE_HOST_PORT}:80"
      - "${HOST_MACHINE_SECURE_HOST_PORT}:443"
    links: 
      - mysql
    volumes: 
      - ${DOCUMENT_ROOT-./data/www}:/var/www
      - ${PHP_INI-./data/php/php.ini}:/usr/local/etc/php/php.ini
      - ${VHOSTS_DIR-./data/vhosts}:/etc/apache2/sites-enabled
      - ${SSL_DIR-./data/ssl}:/etc/letsencrypt
      - ${LOG_DIR-./data/logs/apache2}:/var/log/apache2
      - ${WEBSERVER_SCRIPTS_DIR-./data/scripts}:/var/scripts
  mysql:
    build: ./docker/mysql
    container_name: 'mysql'
    restart: 'always'
    command:  --character-set-server=utf8 --collation-server=utf8_general_ci
    ports:
      - "${HOST_MACHINE_MYSQL_PORT}:3306"
    volumes: 
      - ${MYSQL_DATA_DIR-./data/mysql}:/var/lib/mysql
      - ${MYSQL_LOG_DIR-./logs/mysql}:/var/log/mysql
      - ${MYSQL_SCRIPTS_DIR-./data/scripts}:/var/scripts
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
